/* RESET */ 
@import '../base/_reset'

/* BACKGROUND OPACITY */
@import '../components/_background'

/* HEADER PART */
@import '../layout/_header'

/* MAIN PART */
@import '../layout/_main'
header
  height: auto

.main__title2
  font-size: 3.5vh
  position: absolute
  top: 25%
.main
  top: 50%
.main__title3
  font-size: 3.5vh
  text-decoration: underline
footer
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 97%
  left: 50%
  transform: translate(-50%, -50%)
