{% extends 'base.html.twig' %}

{% block title %}Détails réservation - Le Quai Antique{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/detailsReservation.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    {% block modalHeader %} 
        {% include ('global/modals/modalHeader.html.twig') %} 
    {% endblock %}
    <main class="main">
        <section class="main__container">
            <div class="section__topContainer">
                <h2 class="topContainer__title2 title2">Nombre de personnes</h2>
                <input type="" class="input__number input">
            </div>
            <div class="section__bottomContainer">
                <h2 class="bottomContainer__title2 title2">Allergies vous concernant et votre / vos convive(s)</h2>
                <input type="Textarea" class="input__textArea input">
            </div>
            {% block button %}
            <div class="div__button">
                <button type="button" class="button" onClick="window.location.href='{{ linkButton }}'">{{ textbtn }}</button>
            </div>
            {% endblock %}
        </section>
    </main>
    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

{% endblock %}