.header__iconUser
  width: 40px
  height: auto
  object-fit: cover
@media screen and (min-width: 375px)
  .header__iconUser
    width: 45px
@media screen and (min-width: 460px)
  .header__iconUser
    width: 8vw

@media screen and (min-width: 830px) and (min-height: 568px)
  .header__iconUser
    width: 50px
@media screen and (min-width: 1350px)
  .header__iconUser
    width: 3vw
@media screen and (min-width: 1830px)
  .header__iconUser
    width: 4vw