<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Connexion - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/diner2.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
{% block body %}
<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        <section class="container__title2">
            <h2 class="main__title2">Sélectionnez un créneau pour la soirée</h2>
        </section>
        <section class="section__container" id="time">
            <p id="18:00">18H00</p>
            <p id="19:00">19H00</p>
            <p id="20:00">20H00</p>
            <p id="21:00">21H00</p>
            <p id="22:00">22H00</p>
            <p id="23:00">23H00</p>
        </section>

        <section class="section__button">
            {# BUTTON IMPORTATION #}
            {% block button %}
            {% set textbtn = 'Continuer' %}
              {% include ('global/modals/modalButton.html.twig') %}
              <button class="button btnBottom" onClick="window.location.href='{{ linkButton2 }}'">Réserver pour le déjeuner</button>
            {% endblock %}
        </section>
    </main>

    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

{% endblock %}
<script src="{{asset('assets/js/reservation_dejeuner.js')}}"></script>
</body>
</html>