<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Félicitation - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/felicitation.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
{% block body %}
<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    {# START MAIN #}
    <main class="main">
        {# IMPORT FELICITATION MESSAGE #}
        {% block felicitation %}
            {% include('global/modals/modalFelicitation.html.twig') %}
        {% endblock %}

        {# BUTTON IMPORTATION #}
        {% block button %}
        {% set textbtn = 'Continuer' %}
          {% include ('global/modals/modalButton.html.twig') %}
        {% endblock %}
    </main>
    {# END MAIN #}

    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

{% endblock %}
</body>
</html>