nav
  margin: auto
.nav__div
  display: flex
  justify-content: space-between
  margin-bottom: 10px
.div__title1
  display: flex
  flex-direction: column
  justify-content: space-between
ul
  display: flex
  justify-content: space-between
/*.header__title3
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  text-decoration: underline