{# MENU TEMPLATE : ENTREES + PLATS + DESSERTS #}
{% block Menu %}
<main> 
    <section class="main__img">
        {% block MenuCard %}
            {% include 'global/modals/modalMenuCard.html.twig' %}
        {% endblock %}
        {% block ArrowLinks %}
            {% include 'global/modals/modalArrowLinks.html.twig' %}
        {% endblock %}
        {% block ReservedText %}
            {% include 'global/modals/modalReservedText.html.twig' %}
        {% endblock %}
        {% block button %}
            {% set textbtn = 'Réservez' %}
            {% include 'global/modals/modalButton.html.twig' %}
        {% endblock %}
    </section>  
</main>
{% endblock %}