{% block Menu %}
<main> 
        <section class="main__img">
            <div class="main__container">
                <h2 class="entree__title2">Menu</h2>
                <section class="container__formules">
                <h3 class="entree__title3 itemColor">Formules du jour</h3>
                {% if items.entreeanddish > 0 %}
                    <div class="formule">
                    <h4 class="itemColor entree__title4">Entrée + plat</h4>
                    <p class="item__paragraphe itemColor">{{ items.entreeanddish }}€</p>
                    </div>
                {% endif %}

                {% if items.dishanddessert > 0 %}
                    <div class="formule">
                    <h4 class="itemColor entree__title4">Plat + dessert</h4>
                    <p class="item__paragraphe itemColor">{{ items.dishanddessert }}€</p>
                    </div>
                {% endif %}

                {% if items.entreeanddessert > 0 %}
                    <div class="formule">
                    <h4 class="itemColor entree__title4">Entrée + dessert</h4>
                    <p class="item__paragraphe itemColor">{{ items.entreeanddessert }}€</p>
                    </div>
                {% endif %}
                </section>
            </div>

             {% block ArrowLinks %}
                {% include 'global/modals/modalArrowLinks.html.twig' %}
            {% endblock %}

            {% block ReservedText %}
                {% include 'global/modals/modalReservedText.html.twig' %}
            {% endblock %}
            
           {% block button %}
                {% set textbtn = 'Réservez' %}
                {% include 'global/modals/modalButton.html.twig' %}
            {% endblock %}

            
        </section>
        
</main>
{% endblock %}