{% block modalHeader %}
{# START HEADER #}
<header class="header">
  <nav class="header__nav">
    <div class="nav__div">
      <h1>Le Quai Antique</h1>
      <img src="{{ asset('assets/images/icon_user.png')}}" alt="icone utilisateur connexion et inscription" class="header__iconUser">
    </div>
    <ul class="nav__ul">
      <li><a href="/">Accueil</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/reservation/date">Réservation</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
{# END HEADER #}
{% endblock %}