{% block modalHeaderAdmin %}
{# START HEADER #}
<header class="header">
  <nav class="header__nav">
    <div class="nav__div">
      <h1>Le Quai Antique</h1>
      <img src="{{ asset('assets/images/icon_user.png')}}" alt="icone utilisateur connexion et inscription" class="header__iconUser">
    </div>
  </nav>
</header>
{# END HEADER #}
{% endblock %}