{% block felicitation %}
<section class="container__felicitation">
  <p>Félicitations, votre table est désormais réservée.<br>
  N'hésitez pas à nous contacter si besoin au : {{ phoneNumber }}.</p>
</section>
{% endblock %}