{% block modalHeader %}
{# START HEADER #}
<header class="header">
  <nav class="header__nav">
    <div class="nav__div">
      <h1>Le Quai Antique</h1>
      {% if connect == false %}
      <a href="/connect">
        <img src="{{ asset('assets/images/icon_user.png')}}" alt="icone utilisateur connexion et inscription" class="header__iconUser">
      </a>
      {% endif %}

      {% if connect == true %}
      <a href="/logout">
        <img src="{{ asset('assets/images/sortir.png')}}" alt="icone deconnexion" class="header__iconUser">
      </a>
      {% endif %}
    </div>
    <ul class="nav__ul">
      <li><a href="/">Accueil</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/reservation/date">Réservation</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
{# END HEADER #}
{% endblock %}