{# START FOOTER#}
<footer class="footer">
  <h3 class="footer__title">Horaires d'ouvertures</h3>
  <p class="footer__subTitle">Lundi au vendredi 11H00 - 23H00</p>
  <p class="footer__subTitle">Samedi et dimanche : Fermé</p>
  <h3 class="footer__title">Nous contacter</h3>
  <p class="footer__subTitle">Téléphone : 0123456789</p>
  <p class="footer__subTitle">E-mail : michant@example.com</p>
  <h3 class="footer__title">Pages légales</h3>
  <div class="div">
    <a href="/mentions-legales" class="footer__subTitle visible">Mentions légales</a>
    <a href="/cgv" class="footer__subTitle visible">CGV</a>
  </div>
  <a href="/politiques" class="footer__subTitle">Politiques de confidentialité</a>
  <h3 class="footer__title endTitle">COPYRIGHT - Le Quai Antique</h3>
</footer>
{# END FOOTER#}
