/* RESET */  /* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

/* HEADER PART */
.container__hero {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background: url("../../images/background/bg-small.jpg");
}

@media screen and (min-height: 854px) {
  .container__hero {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .container__hero {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-height: 1281px) {
  .container__hero {
    background: url("../../images/background/bg-large.jpg");
  }
}
@media screen and (min-width: 1920px) {
  .container__hero {
    background: url("../../images/background/bg-large.jpg");
  }
}
h1 {
  font-size: 2.5rem;
}

/* RESPONSIVE */
@media screen and (min-width: 360px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 414px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 400%;
  }
}
@media screen and (min-width: 830px) {
  h1 {
    font-size: 7vw;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1350px) {
  h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  h1 {
    font-size: 2.5vw;
  }
}
.header__iconUser {
  width: 40px;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 375px) {
  .header__iconUser {
    width: 45px;
  }
}
@media screen and (min-width: 460px) {
  .header__iconUser {
    width: 8vw;
  }
}
@media screen and (min-width: 1000px) {
  .header__iconUser {
    width: 5vw;
  }
}
@media screen and (min-width: 1350px) {
  .header__iconUser {
    width: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  .header__iconUser {
    width: 4vw;
  }
}
@media screen and (min-width: 414px) {
  .header__nav {
    width: 380px;
  }
}
@media screen and (min-width: 460px) {
  .header__nav {
    width: 80vw;
  }
}
@media screen and (min-width: 700px) {
  .header__nav {
    width: 70vw;
  }
}
@media screen and (min-width: 1350px) {
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
  }
  .nav__div {
    align-items: center;
    gap: 1vw;
  }
}
.nav__div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.div__title1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

/*.header__title3
 * position: absolute
 * top: 50%
 * left: 50%
 * transform: translate(-50%, -50%)
 * text-align: center
 * text-decoration: underline */
@media screen and (min-width: 360px) {
  a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 414px) {
  a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 414px) {
  a {
    font-size: 3vw;
  }
}
@media screen and (min-width: 700px) {
  a {
    font-size: 150%;
  }
}
@media screen and (min-width: 830px) {
  a {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1100px) {
  a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1350px) {
  a {
    font-size: 2vw;
  }
  .nav__ul {
    gap: 4vw;
  }
  a {
    font-size: 1.5vw;
  }
}
.div__title2 {
  width: 100vw;
  margin: 1.5rem auto;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(75, 52, 21, 0.8);
  padding: 10px;
}

@media screen and (min-width: 414px) {
  .div__title2 {
    top: 25%;
  }
}
@media screen and (min-width: 700px) {
  .div__title2 {
    width: 70vw;
  }
}
@media screen and (min-width: 830px) {
  .div__title2 {
    top: 30%;
    padding: 2vw;
  }
}
@media screen and (min-width: 1350px) {
  .div__title2 {
    padding: 1.4vw;
    top: 25%;
  }
}
@media screen and (min-width: 1830px) {
  .div__title2 {
    width: 50vw;
  }
}
h2 {
  font-size: 2.2rem;
}

/* RESPONSIVE */
@media screen and (min-width: 350px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 414px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 460px) {
  h2 {
    font-size: 8vw;
  }
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1000px) {
  h2 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1100px) {
  h2 {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 1350px) {
  h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  h2 {
    font-size: 2.5vw;
  }
}
.header__title3 {
  width: 300px;
  font-size: 2.3rem;
  text-decoration: underline;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 350px) {
  .header__title3 {
    width: 250px;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 360px) {
  .header__title3 {
    width: 270px;
    font-size: 2.5rem;
    top: 48%;
  }
}
@media screen and (min-width: 414px) {
  .header__title3 {
    width: 350px;
    font-size: 2.5rem;
    top: 45%;
  }
}
@media screen and (min-width: 460px) {
  .header__title3 {
    font-size: 8vw;
    width: 70%;
  }
}
@media screen and (min-width: 700px) {
  .header__title3 {
    font-size: 6vw;
  }
}
@media screen and (min-width: 830px) {
  .header__title3 {
    font-size: 5.5vw;
    top: 55%;
  }
}
@media screen and (min-width: 1000px) {
  .header__title3 {
    font-size: 4vw;
    width: 40vw;
  }
}
@media screen and (min-width: 1000px) {
  .header__title3 {
    top: 50%;
  }
}
@media screen and (min-width: 1350px) {
  .header__title3 {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 1620px) {
  .header__title3 {
    font-size: 2.5vw;
    width: 30vw;
  }
}
.img__plats {
  width: 220px;
}

@media screen and (min-width: 350px) {
  .img__plats {
    width: 40vh;
  }
}
@media screen and (min-width: 414px) {
  .img__plats {
    width: 350px;
  }
}
@media screen and (min-width: 700px) {
  .img__plats {
    width: 50vw;
  }
}
@media screen and (min-width: 830px) {
  .img__plats {
    width: 33.33vw;
  }
}
@media screen and (min-width: 1100px) {
  .img__plats {
    width: 30vw;
  }
}
@media screen and (min-width: 1350px) {
  .img__plats {
    width: 320px;
  }
}
@media screen and (min-width: 1830px) {
  .img__plats {
    width: 400px;
  }
}
.gallerie__recettes {
  margin-top: 1.5rem;
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 220px;
}

@media screen and (min-width: 350px) {
  .gallerie__recettes {
    bottom: 2rem;
    width: 40vh;
  }
}
@media screen and (min-width: 414px) {
  .gallerie__recettes {
    width: 350px;
  }
}
@media screen and (min-width: 700px) {
  .gallerie__recettes {
    width: 50vw;
  }
}
@media screen and (min-width: 830px) {
  .gallerie__recettes {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .gallerie__recettes {
    gap: 2vw;
  }
}
@media screen and (min-width: 1350px) {
  .gallerie__recettes {
    gap: 0vw;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1830px) {
  .gallerie__recettes {
    width: 80vw;
  }
}
.section__gallerie {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

/* PERSONNALISATION */
.header {
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  animation: slideRight 5s;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1350px) {
  .header {
    width: 100vw;
  }
}
/* BODY PART */
body {
  background: url("../../images/background/bg-small.jpg");
}

@media screen and (min-height: 854px) {
  body {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-height: 1281px) {
  body {
    background: url("../../images/background/bg-large.jpg");
  }
}
@media screen and (min-width: 1280px) {
  body {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-width: 1920px) {
  body {
    background: url("../../images/background/bg-large.jpg");
  }
}
/* MAIN PART */
.main__divContact {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(75, 52, 21, 0.8);
  padding: 10px;
}

@media screen and (min-width: 700px) {
  .main__divContact {
    top: 40%;
  }
}
@media screen and (min-width: 1100px) {
  .main__divContact {
    width: 70vw;
  }
}
@media screen and (min-width: 1400px) {
  .main__divContact {
    width: 60vw;
  }
}
.main__divContact p {
  font-size: 3vh;
}

@media screen and (min-width: 700px) {
  .main__divContact p {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1100px) {
  .main__divContact p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1400px) {
  .main__divContact p {
    font-size: 2.5vw;
  }
}
.main__divContact a {
  font-size: 3vh;
  text-transform: lowercase;
}

@media screen and (min-width: 700px) {
  .main__divContact a {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1100px) {
  .main__divContact a {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1400px) {
  .main__divContact a {
    font-size: 2.5vw;
  }
}
.main__divlinkSocialNetwork img {
  width: 7vh;
}

.main__divlinkSocialNetwork {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .main__divlinkSocialNetwork {
    justify-content: center;
    gap: 7vw;
  }
}
.main__section {
  width: 70%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .main__section {
    top: 60%;
    gap: 3vh 0;
  }
}
.logo {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .logo {
    width: 30vw;
  }
}
@media screen and (min-width: 900px) {
  .logo {
    width: 25vw;
  }
}
@media screen and (min-width: 1400px) {
  .logo {
    width: 20vw;
  }
}
main {
  padding: 10pxs;
}

/* FOOTER PART */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5%;
  column-gap: 1vw;
}

@media screen and (min-width: 900px) {
  footer a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  footer a {
    font-size: 1.5vw;
  }
}
/* MODIFICATIONS PERSONNALISEES */    
header {
  height: auto;
  padding: 10px;
}

main {
  animation: opacity 4s;
  height: 80%;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__title2 {
  font-size: 3.5vh;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

@media screen and (min-width: 700px) {
  .main__title2 {
    font-size: 4vh;
    margin-top: 2vh;
    top: 20%;
  }
}
@media screen and (min-width: 900px) {
  .main__title2 {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 1100px) {
  .main__title2 {
    font-size: 3vw;
    width: 70vw;
    top: 23%;
  }
}
@media screen and (min-width: 1400px) {
  .main__title2 {
    width: 60vw;
    font-size: 2.5vw;
    top: 20%;
  }
}
.main__title3 {
  font-size: 3.5vh;
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .main__title3 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 900px) {
  .main__title3 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1100px) {
  .main__title3 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1400px) {
  .main__title3 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1600px) {
  .main__title3 {
    font-size: 2.5vw;
  }
}
.main__divlinkSocialNetwork a img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2%;
  background: linear-gradient(197deg, rgb(118, 67, 0), rgba(26, 11, 11, 0.41));
}