/* RESET */  /* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

/* IMPORTATION BODY */
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* IMPORTATION BODY BACKGROUND */
body {
  background: url("../../images/background/bg-small.jpg");
}

@media screen and (min-height: 854px) {
  body {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-height: 1281px) {
  body {
    background: url("../../images/background/bg-large.jpg");
  }
}
@media screen and (min-width: 1280px) {
  body {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-width: 1920px) {
  body {
    background: url("../../images/background/bg-large.jpg");
  }
}
/* IMPORTATION HEADER */
/* IMPORTATION HEADER */
.container__hero {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background: url("../../images/background/bg-small.jpg");
}

@media screen and (min-height: 854px) {
  .container__hero {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .container__hero {
    background: url("../../images/background/bg-medium.jpg");
  }
}
@media screen and (min-height: 1281px) {
  .container__hero {
    background: url("../../images/background/bg-large.jpg");
  }
}
@media screen and (min-width: 1920px) {
  .container__hero {
    background: url("../../images/background/bg-large.jpg");
  }
}
h1 {
  font-size: 2.5rem;
}

/* RESPONSIVE */
@media screen and (min-width: 360px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 414px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 400%;
  }
}
@media screen and (min-width: 830px) and (min-height: 568px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1350px) {
  h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  h1 {
    font-size: 2.5vw;
  }
}
.header__iconUser {
  width: 40px;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 375px) {
  .header__iconUser {
    width: 45px;
  }
}
@media screen and (min-width: 460px) {
  .header__iconUser {
    width: 8vw;
  }
}
@media screen and (min-width: 830px) and (min-height: 568px) {
  .header__iconUser {
    width: 50px;
  }
}
@media screen and (min-width: 1350px) {
  .header__iconUser {
    width: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  .header__iconUser {
    width: 4vw;
  }
}
@media screen and (min-width: 414px) {
  .header__nav {
    width: 380px;
  }
}
@media screen and (min-width: 460px) {
  .header__nav {
    width: 80vw;
  }
}
@media screen and (min-width: 700px) {
  .header__nav {
    width: 70vw;
  }
}
@media screen and (min-width: 1000px) and (min-height: 568px) {
  .nav__div {
    background: none;
  }
}
@media screen and (min-width: 1350px) {
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
  }
  .nav__div {
    align-items: center;
    gap: 1vw;
  }
}
.nav__div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.div__title1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

/*.header__title3
 * position: absolute
 * top: 50%
 * left: 50%
 * transform: translate(-50%, -50%)
 * text-align: center
 * text-decoration: underline */
@media screen and (min-width: 360px) {
  a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 414px) {
  a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 414px) {
  a {
    font-size: 3vw;
  }
}
@media screen and (min-width: 700px) {
  a {
    font-size: 150%;
  }
}
@media screen and (min-width: 830px) {
  a {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1100px) and (min-height: 568px) {
  a {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1350px) {
  a {
    font-size: 2vw;
  }
  .nav__ul {
    gap: 4vw;
  }
  a {
    font-size: 1.5vw;
  }
}
.div__title2 {
  width: 100vw;
  margin: 1.5rem auto;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(75, 52, 21, 0.8);
  padding: 10px;
}

@media screen and (min-width: 350px) {
  .div__title2 {
    height: initial;
  }
}
@media screen and (min-width: 414px) {
  .div__title2 {
    top: 25%;
  }
}
@media screen and (min-width: 700px) {
  .div__title2 {
    width: 70vw;
  }
}
@media screen and (min-width: 830px) {
  .div__title2 {
    top: 30%;
    padding: 2vw;
  }
}
@media screen and (min-width: 1100px) and (min-height: 568px) {
  .div__title2 {
    width: 780px;
  }
}
@media screen and (min-width: 1350px) {
  .div__title2 {
    padding: 1.4vw;
    top: 25%;
  }
}
@media screen and (min-width: 1830px) {
  .div__title2 {
    width: 50vw;
  }
}
h2 {
  font-size: 2.2rem;
}

/* RESPONSIVE */
@media screen and (min-width: 350px) {
  h2 {
    font-size: 2.5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 414px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 460px) {
  h2 {
    font-size: 8vw;
  }
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1000px) {
  h2 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1100px) {
  h2 {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 1350px) {
  h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1830px) {
  h2 {
    font-size: 2.5vw;
  }
}
.header__title3 {
  width: 300px;
  font-size: 2.3rem;
  text-decoration: underline;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 350px) {
  .header__title3 {
    width: 250px;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 360px) {
  .header__title3 {
    width: 270px;
    font-size: 2.5rem;
    top: 50%;
  }
}
@media screen and (min-width: 414px) and (min-height: 568px) {
  .header__title3 {
    width: 350px;
    font-size: 2.5rem;
    top: 50%;
  }
}
@media screen and (min-width: 460px) {
  .header__title3 {
    font-size: 8vw;
    width: 70%;
  }
}
@media screen and (min-width: 700px) {
  .header__title3 {
    font-size: 6vw;
  }
}
@media screen and (min-width: 830px) {
  .header__title3 {
    font-size: 5.5vw;
    top: 55%;
  }
}
@media screen and (min-width: 1000px) {
  .header__title3 {
    font-size: 4vw;
    width: 40vw;
  }
}
@media screen and (min-width: 1260px) and (min-height: 568px) {
  .header__title3 {
    max-width: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .header__title3 {
    top: 50%;
  }
}
@media screen and (min-width: 1350px) {
  .header__title3 {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 1620px) {
  .header__title3 {
    font-size: 2.5vw;
    width: 30vw;
  }
}
.img__plats {
  width: 220px;
}

@media screen and (min-width: 350px) {
  .img__plats {
    width: 40vh;
  }
}
@media screen and (min-width: 414px) {
  .img__plats {
    width: 350px;
  }
}
@media screen and (min-width: 700px) {
  .img__plats {
    width: 50vw;
  }
}
@media screen and (min-width: 830px) {
  .img__plats {
    width: 33.33vw;
  }
}
@media screen and (min-width: 1100px) {
  .img__plats {
    width: 30vw;
  }
}
@media screen and (min-width: 1350px) {
  .img__plats {
    width: 320px;
  }
}
@media screen and (min-width: 1830px) {
  .img__plats {
    width: 400px;
  }
}
.gallerie__recettes {
  margin-top: 1.5rem;
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 220px;
}

@media screen and (min-width: 350px) {
  .gallerie__recettes {
    bottom: 2rem;
    width: 40vh;
  }
}
@media screen and (min-width: 414px) {
  .gallerie__recettes {
    width: 350px;
  }
}
@media screen and (min-width: 700px) {
  .gallerie__recettes {
    width: 50vw;
  }
}
@media screen and (min-width: 830px) {
  .gallerie__recettes {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .gallerie__recettes {
    gap: 2vw;
  }
}
@media screen and (min-width: 1350px) {
  .gallerie__recettes {
    gap: 0vw;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1830px) {
  .gallerie__recettes {
    width: 80vw;
  }
}
.section__gallerie {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

/* PERSONNALISATION */
.header {
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  animation: slideRight 1s;
  overflow: hidden;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1100px) and (min-height: 568px) {
  .header {
    height: initial;
    max-width: 780px;
    margin: auto;
  }
}
@media screen and (min-width: 1350px) and (min-height: 568px) {
  .header {
    width: 100vw;
    max-width: initial;
  }
}
@media screen and (min-width: 700px) and (min-height: 568px) {
  h1 {
    font-size: 4rem;
  }
  .header__nav {
    max-width: 600px;
  }
  .header__iconUser {
    width: 4rem;
  }
  .nav__ul li a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1350px) and (min-height: 568px) {
  .header {
    height: 10%;
  }
  .header__nav {
    max-width: initial;
  }
}
@media screen and (min-width: 1350px) and (min-height: 700px) {
  .header {
    height: 10%;
  }
  .header__nav {
    max-width: initial;
  }
}
@media screen and (min-width: 1100px) and (min-height: 750px) {
  .header {
    height: 10%;
  }
  .header__nav {
    max-width: initial;
  }
}
/* IMPORTATION BOUTON MENU PAGE */
/* IMPORTATION BOUTON GENERAL*/
.button {
  height: 70%;
  width: 30%;
  background: #6A2600;
  border-radius: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.div__button {
  width: min-content;
  position: absolute;
  bottom: -3.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.div__button .button {
  height: 3rem;
  font-size: 1.3rem;
  width: 10rem;
}

@media screen and (min-width: 700px) and (min-height: 568px) {
  .div__button {
    transform: translate(-50%, 0%);
    height: auto;
    bottom: 0%;
  }
  .div__button .button {
    height: 3.5rem;
    font-size: 1.3rem;
    width: 10rem;
  }
}
@media screen and (min-width: 1350px) and (min-height: 568px) {
  .div__button {
    position: absolute;
    left: 18.5%;
    bottom: 32%;
  }
}
@media screen and (min-width: 1350px) and (min-height: 650px) {
  .div__button {
    left: 19%;
    bottom: 34%;
  }
  .div__button .button {
    height: 4rem;
    font-size: 1.8rem;
    width: 12rem;
  }
}
@media screen and (min-width: 550px) and (min-height: 700px) {
  .div__button {
    bottom: 2%;
  }
  .div__button .button {
    height: 3.5rem;
    font-size: 1.2rem;
    width: 10rem;
  }
}
@media screen and (min-width: 700px) and (min-height: 700px) {
  .div__button {
    bottom: 0%;
  }
}
@media screen and (min-width: 1350px) and (min-height: 700px) {
  .div__button {
    position: absolute;
    left: 18%;
    bottom: 35%;
  }
  .div__button .button {
    height: 4rem;
    font-size: 1.8rem;
    width: 13rem;
  }
}
@media screen and (min-width: 320px) and (min-height: 750px) {
  .div__button {
    bottom: 0%;
  }
}
@media screen and (min-width: 550px) and (min-height: 750px) {
  .div__button {
    bottom: -3%;
  }
}
@media screen and (min-width: 700px) and (min-height: 750px) {
  .div__button {
    bottom: 0%;
  }
}
@media screen and (min-width: 1100px) and (min-height: 750px) {
  .div__button {
    position: absolute;
    left: 18%;
    bottom: 35%;
  }
  .div__button .button {
    height: 4rem;
    font-size: 1.8rem;
    width: 13rem;
  }
}
@media screen and (min-width: 550px) and (min-height: 850px) {
  .div__button {
    bottom: 0%;
  }
  .div__button .button {
    height: 3.5rem;
    font-size: 1.5rem;
    width: 11rem;
  }
}
@media screen and (min-width: 700px) and (min-height: 850px) {
  .div__button {
    bottom: 2%;
  }
}
@media screen and (min-width: 1100px) and (min-height: 850px) {
  .div__button {
    bottom: 40%;
  }
  .div__button .button {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1800px) and (min-height: 850px) {
  .div__button {
    bottom: 37%;
  }
  .div__button .button {
    height: 4rem;
    width: 12rem;
    font-size: 1.8rem;
  }
}
/* IMPORTATION DU FOOTER */
/* FOOTER PART */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5%;
  column-gap: 1vw;
  width: 100%;
}

@media screen and (min-width: 650px) and (min-height: 568px) {
  footer a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 900px) {
  footer a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  footer a {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 650px) and (min-height: 568px) {
  footer a {
    font-size: 1.2rem;
  }
}
/* IMPORT OPACITY */
.header, .main, footer {
  background-color: rgba(70, 54, 23, 0.5);
}

/* BASES CONFIGURATION 320 * 568px */
main {
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__felicitation {
  background: white;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: auto;
}
.container__felicitation p {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  line-height: 150%;
}

/* START RESPONSIVE WIDTH TO HEIGHT */
@media screen and (min-width: 320px) and (max-width: 1800px) {
  .div__button {
    left: 50%;
    bottom: 2%;
  }
}
@media screen and (min-width: 400px) and (min-height: 568px) {
  .container__felicitation {
    max-width: 80%;
    padding: 1.5vw;
    border-radius: 5% 0%;
    box-shadow: 2px 2px 20px 20px #463617;
  }
  .container__felicitation p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 750px) and (min-height: 568px) {
  .container__felicitation {
    max-width: 70%;
    padding: 2vw;
  }
  .container__felicitation p {
    font-size: 3rem;
  }
}
@media screen and (min-width: 850px) and (min-height: 568px) {
  .container__felicitation {
    max-width: 600px;
  }
}
@media screen and (min-width: 1350px) and (min-height: 568px) {
  .header {
    height: 15%;
  }
}
@media screen and (min-width: 1801px) and (min-height: 568px) {
  .div__button {
    left: 50%;
    bottom: 2%;
  }
}