{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/accueil.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <h1>Hello World</h1>
{% endblock %}
