{% extends 'base.html.twig' %}

{% block title %}Images - Le Quai Antique{% endblock %}

{% block body %}
<main>
<h2>Accéder aux images</h2>
<h3>Gallerie</h3>

{{ form(form) }}

</main>
{% endblock %}
