.main__nav
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 5%
  margin-left: 10%

.main__nav a
  font-weight: bold
  font-size: 2rem
@media screen and (min-width: 460px) and (min-height: 700px)
  .main__nav a
    font-size: 2.5rem
@media screen and (min-width: 716px) and (min-height: 874px)
  .main__nav a
    font-size: 3.5rem