@import '../_hero'
@import '../../atoms/_title1'
@import '../../atoms/_iconUser'
@import '../_nav.sass'
@import '../_div__title2'
@import '../../atoms/_title2'
@import '../../atoms/_title3'
@import '../_gallerie'

/* PERSONNALISATION */
.header
  padding: 10px
  position: fixed
  left: 50%
  transform: translate(-50%)
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
@media screen and ( min-width: 1100px)
  .header
    width: 70vw
@media screen and ( min-width: 1350px)
  .header
    width: 100vw
  