@import '../_hero'
@import '../../atoms/_title1'
@import '../../atoms/_iconUser'
@import '../_nav.sass'
@import '../_div__title2'
@import '../../atoms/_title2'
@import '../../atoms/_title3'
@import '../_gallerie'

/* PERSONNALISATION */
.header
  padding: 10px
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  height: 15%
  animation: slideRight 5s
@keyframes slideRight
  0%
    opacity: 0
    transform: translateX(200px)
  100%
    opacity: 1
    transform: translateX(0)
@media screen and ( min-width: 1350px)
  .header
    width: 100vw
  