@import '../../atoms/_vector'
.main
  position: relative
  height: 80%
  width: 100%
  top: 15%
.main__container
  position: relative
.img__Menu
  height: 100%
  width: 100vw
  object-fit: cover
.main__Menu
  height: 79.2%
  width: 70%
  background: white
  position: absolute
  top: 11.1%
  left: 16.9%