@import '../../atoms/_vector'
.main
  position: relative
  height: 80%
  width: 100%
  top: 15%
.main__container
  position: relative
  height: 90%
.img__Menu
  height: 75%
  width: 100vw
  position: fixed
  left: 0
.main__Menu
  height: calc(66% + 9.1vh)
  width: calc(55% + 11vw)
  background: white
  position: absolute
  top: 11.1%
  left: 16%