@import '../utils/_colors'
@import '../utils/_font'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: $first-color
  text-align: center
  font-size: 12px
  font-family: $main-font

a
  text-decoration: none
  text-transform: uppercase

li
  list-style: none