<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Menu - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/menu.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        <div class="main__container">
            <img src={{ asset('assets/images/menu.png')}} class="img__Menu">
            <div class="main__Menu">
                <div class="menu__text">
                    <h2>Menu</h2>
                    <h2>Formules du jour</h2>
                    <div class="container__formules">
                        <div class="div__form1">
                            <h3>Entrée + Plat</h3>
                            <h3>25€</h3>
                        </div>
                        <div class="div__form2">
                            <h3>Plat + dessert</h3>
                            <h3>15€</h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src={{ asset('assets/images/chevron_droit.png')}} class="img__vector">
        </div>
        <button type="button" class="button">Réserver</button>
    </main>
</body>
</html>