<!DOCTYPE html>
<html lang="fr-Fr">
{# HEAD PART #}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  <title>Connexion - Le Quai Antique</title>
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('assets/css/pages/lunch.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

{# BODY PART #}
{% block body %}
<body>
    {# IMPORTATION DU HEADER #}
    {% block modalHeader %}
        {% include ('global/modals/modalHeader.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

    <main class="main">
        <section class="container__title2">
            <h2 class="main__title2">Sélectionnez un créneau pour le déjeuner</h2>
        </section>
        <section class="section__container">
            <p>11H00</p>
            <p>12H00</p>
            <p>13H00</p>
            <p>14H00</p>
        </section>

        <section class="section__button">
            <button class="button btnTop">Continuer</button>
            <button class="button btnBottom">Réserver pour le souper</button>
        </section>
    </main>

    {# IMPORTATION DU FOOTER #}
    {% block modalFooter %}
        {% include ('global/modals/modalFooter.html.twig') %}
    {% endblock %}
    {# FIN IMPORTATION #}

{% endblock %}
</body>
</html>